//MIXINS
@mixin d-flex($justify, $align, $direc) {
    display: flex;

    @if $justify  !=none {
        justify-content: $justify;
    }

    @if $align  !=none {
        align-items: $align;
    }

    @if $direc  !=none {
        flex-direction: $direc;
    }
}


@mixin grid-layout($columnas, $filas, $anchoCol, $altoFilas, $gap) {
    display: grid;

    @if $columnas  !=none {
        grid-template-columns: repeat($columnas, $anchoCol);
    }

    @if $filas  !=none {
        grid-template-rows: repeat($filas, $altoFilas);
    }

    @else {
        grid-template-rows: auto;
    }

    @if $gap  !=none {
        gap: $gap;
    }
}