//PRODUCTOS
#productos {
    width: 90%;
    @include grid-layout(4, none, 1fr, none, 20px);
    margin-left: 60px;
}

.articulos {
    @extend #productos;
    grid-template-columns: repeat(5, 1fr);

    .producto {
        background-color: map-get($map: $paletaColores, $key: 'colorProductos');
        text-align: center;
        box-shadow: 3px 5px 15px -1px rgba(0, 0, 0, 0.6);
        padding: 0;

        .infoProducto {
            height: 29%;
            @include d-flex(none, none, column);

            button {
                height: 35px;
                margin-top: auto;
                font-weight: bold;
            }
        }

        figcaption {
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p {
            font-size: 15px;
        }
    }

    figure {
        &:hover {
            transform: scale(1.05);
            transition: all 0.35s;
            cursor: pointer;
        }
    }

    img {
        width: 100%;
        height: 70%;
        z-index: 1;
    }

}

#contenedorProductos {
    display: grid;
    grid-template-columns: 20vw 80vw;
}

#filtros {
    width: 80%;
    height: 40%;
    @include d-flex(none, flex-start, column);
    margin-left: 60px;
    margin-top: 70px;
    background-color: transparent;
    position: static;

    h3 {
        width: 100%;
        color: map-get($map: $paletaColores, $key: 'colorLetra');
        font-size: 25px;
        margin: 10px 0 10px 0;
        border-bottom: 2px solid map-get($map: $paletaColores, $key: 'colorLetra');
    }

    ul {
        width: 100%;
        @include d-flex(none, flex-start, column);
        margin-right: 0;
        padding-left: 0;
        list-style: none;

        li {
            width: 100%;
            font-size: 15px;
            margin: 0;
            padding: 10px 0 10px 6px;
            background-color: transparent;

            &:hover {
                background-color: map-get($map: $paletaColores, $key: 'colorFiltros');
                font-weight: bold;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}

.etiquetaFiltro {
    background-color: map-get($map: $paletaColores, $key: 'colorFiltros');
    color: map-get($map: $paletaColores, $key: 'colorLetra');
}

//OFERTAS
#ofertasJuegos,
#ofertasConsolas {
    .producto {
        .precio {
            @include d-flex(center, none, row);

            .precioTachado {
                text-decoration: line-through red;
                margin-right: 10px;
            }

            .precioNuevo {
                font-weight: bold;
                color: rgb(30, 67, 30);
            }
        }
    }
}

#mainOfertas {
    h2 {
        width: 90%;
        font-size: 30px;
        color: map-get($map: $paletaColores, $key: 'colorLetra');
        border-bottom: 2px solid map-get($map: $paletaColores, $key: 'colorLetra');
        margin-left: 60px;
        margin-top: 40px;
    }
}

.etiquetaOferta {
    font-size: 15px;
    z-index: 2;
}