//VARIABLES
$paletaColores: (
    'colorFondo': rgb(221, 230, 243),
    'colorLetra': rgb(68, 67, 67),
    'colorLetraClara': rgb(255, 205, 205),
    'colorFondoBotonContactoResaltado': rgb(131, 200, 223),
    'colorFondoBotonContacto': rgb(208, 216, 226),
    'colorBotonFooter': rgb(112, 163, 182),
    'colorLetraFooter': rgb(216, 202, 202),
    'colorLetraResaltado': rgb(44, 158, 197),
    'colorProductos': white,
    'colorFiltros': rgb(208, 214, 223)
);
$alturaFondos: 400px;
$anchoIconos: 20%;